{% import '_includes/forms' as forms %}

<div id="groupId-field" class="field" data-cpfieldlinks="true">
    <div class="heading"><label id="groupId-label" for="groupId">{{ 'Group'|t('ad-wizard') }}</label></div>
    <div class="input ltr">
        <div class="select">
            <select id="adGroup" name="groupId" @change="updateLayout">
                {% for id,row in groupData %}
                    {% set selected = (id == ad.groupId ? 'selected="selected"' : '') %}
                    <option value="{{ id }}" {{ selected|raw }}>{{ row.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

{{ forms.dateTimeField({
    label: "Beginning of Run"|t('ad-wizard'),
    id: 'startDate',
    name: 'startDate',
    value: (ad.startDate ? ad.startDate : null),
}) }}
{{ forms.dateTimeField({
    label: "End of Run"|t('ad-wizard'),
    id: 'endDate',
    name: 'endDate',
    value: (ad.endDate ? ad.endDate : null),
}) }}

{{ forms.textField({
    label: "Max Views Allowed"|t('ad-wizard'),
    instructions: '(0 = unlimited)'|t('ad-wizard'),
    id: 'maxViews',
    name: 'maxViews',
    value: ad.maxViews,
    size: 3,
}) }}

{{ forms.lightswitchField({
    label: "Enabled"|t('app'),
    name: 'enabled',
    on: ad.enabled,
}) }}
