{% extends '_layouts/elementindex' %}
{% set selectedSubnavItem = 'ads' %}
{% set elementType = 'doublesecretagency\\adwizard\\elements\\Ad' %}
{% set title = "Ads"|t('ad-wizard') %}

{% set currentGroup = craft.app.request.getSegment(3) %}

{% block actionButton %}
    {% if groups|length %}
        <div class="btngroup">
            <a href="{{ cpUrl('ad-wizard/ads/new') }}" class="btn submit add icon">{{ 'New Ad'|t('ad-wizard') }}</a>
            {% if 1 < groups|length %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        {% for group in groups %}
                            <li><a href="{{ cpUrl('ad-wizard/ads/'~group.handle~'/new') }}">{{ group.name|t('site') }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% js %}
    $(function () {

        // When link is clicked, update URL
        Craft.elementIndex.onSelectSource = function () {

            if (this.settings.context === 'index' && typeof history !== 'undefined') {
                var uri = 'ad-wizard/ads';

                if (this.sourceKey && '*' !== this.sourceKey) {
                    uri += '/' + this.sourceKey;
                }

                history.replaceState({}, '', Craft.getUrl(uri));
            }

            this.settings.onSelectSource(this.sourceKey);
            this.trigger('selectSource', {sourceKey: this.sourceKey});
        };

        {% if currentGroup %}
            // If group currently selected, update
            Craft.elementIndex.selectSourceByKey('{{ currentGroup }}');
            Craft.elementIndex.updateElements();
        {% endif %}

    });
{% endjs %}
